// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* >>----------> [ ogólne ] <-----------<< */
body{
	font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    background: #f5f6fa;
    padding-top: 51px;
}
/* >>----------> [ navbar ] <-----------<< */
.navbar-default {
    background-color: #fff;
    border-color: #eee;
    margin-bottom: 0;
}
.navbar-brand img {
    height: 100% !important;
}
.navbar-default .navbar-nav > li > a {
    color: #8c8c8c;
}
.navbar-default .navbar-nav > li.dropdown > a {
    font-weight: 500;
    color: #4688ff;
}
.navbar-default .navbar-brand {
    color: #4688ff;
    font-weight: bold;
}

/* >>----------> [ transitions for vue  ] <-----------<< */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
    display: none;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}

/* >>----------> [ dashboard layout ] <-----------<< */
.dash-sidebar {
    width: 230px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    padding-top: 70px;
    background: #fff;
    border-right: 1px solid #eee;
    height: 100%;
    background: #fdfdfe;
}
.dash-content {
    margin-left: 230px;
    padding-top: 60px;
}
.dash-content-sidebar {
    position: fixed;
    width: 370px;
    background: #fff;
    height: 100%;
    padding: 0px;
}
.panel-body, .panel-heading, .panel-default {
    border: 0;
    box-shadow: none;
    background: transparent;
}
.panel-body {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    transition: .3s all;
}
.blurred{
	filter: blur(4px);
}
.dash-content-main {
    margin-left: 370px;
    padding: 20px;
}
.panel-default > .panel-heading {
    padding: 0 20px;
    /* font-weight: bold; */
    font-size: 18px;
    color: #444;
    position: fixed;
    top: 50px;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    background: #fff;
    background: #fbfbfd;
    z-index: 1;
    line-height: 60px;
    /*margin-top: -1px;*/
}

/* >>----------> [ lista faktur ] <-----------<< */
ul.invoices-list li {
    display: block;
}

ul.invoices-list {
    padding: 0;
}

ul.invoices-list a {
    display: block;
    padding: 20px 20px;
    color: #444;
    text-decoration: none;
    -webkit-transition: .3s all;
    transition: .3s all;
}
ul.invoices-list .router-link-active{
    color: #fff;
    background: #4688ff;	
}
ul.invoices-list a:active {
    color: rgba(0, 0, 0, 0.24);
}
ul.invoices-list small {
    display: block;
}




/* >>----------> [ bootstrap container wider ] <-----------<< */

@media (min-width: 1400px) {
    .container{
        width: 1360px;
    }
}

@media (min-width: 1600px) {
    .container{
        width: 1560px;
    }
}